[package]
name = "macros-impl"
version.workspace = true
edition.workspace = true

[lints]
workspace = true

[dependencies]
proc-macro2 = { workspace = true }
syn = { workspace = true, features = ["full", "extra-traits"] }
quote = { workspace = true }
nonempty = "0.12.0"